<div class="background">
  <div class="container">
    <div class="details">
      <div class="form-login">      
        <app-title title="Please log in"></app-title>
      </div>
    <form [formGroup]="loginForm" (ngSubmit)="submit()">
      <div class="form-inputs">
        <text-input
        [control]="fc.email"
        [showErrorsWhen]="isSubmitted"
        type="email"
        label="Email">
      </text-input>
    
      <text-input
        [control]="fc.password"
       [showErrorsWhen]="isSubmitted"
       type="password"
        label="Password">
      </text-input>
      </div>
      
      <div class="form-footer">
        <default-button text="Login"></default-button>
        <div class="register">
          New user? &nbsp;
          <a routerLink="/register" [queryParams]="{returnUrl : returnUrl}">
            Register here
          </a>
        </div>
      </div>

    </form>
    </div>
  </div>
</div>
